.UserInfo {
    display: flex;
    align-items: center;
}

img {
    border-radius: 50px;
    display: flex;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    align-items: center ;
}

@media screen and (max-width: 600px) {
    img {
        display: none;
    }
}