body {
  background-color: #121212;
  margin: 0 auto;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  box-sizing: border-box;

}

.my-20 { margin: 20px 0; }

.text-right { text-align: right; }

.font-italic { font-style: italic; }

.font-bold { font-weight: 700; }

.font-gray { color: #6D6D6D; }
